<div>
    <div class="web-page">
        <!-- <input class="background-none"> -->
    </div>
    <div class="web-object-container"  [hidden]="!stopped">
        <ul class="list">
            <li class="box"  *ngFor="let ctv of ctvList">
                <ng-container>
                    <ul class="list1">
                        <li class="box1">
                            <i class="fas fa-delete"></i>

                            <span class="block command ellipsis ">
                                <span>{{ctv.command.name}}</span>
                            </span>
                            <div class="block target list" style="z-index: 99;" *ngIf="ctv.command.accepts[0]=='target'">
                                <div class="ellipsis">{{ctv.target?.name}} </div>
                            </div>
                            <div class="block target list" style="z-index: 99;" *ngIf="ctv.command.accepts[1]=='target'">
                                <div class="ellipsis">{{ctv.target?.name}} </div>
                            </div>
                            <!-- [ngClass]="{ 'myGlower':getShowInputValue(i) }" (dblclick)="showInput($event,i)" -->
                            <div class="block value ellipsis" *ngIf="ctv.command.accepts[0]=='value'||(ctv.command.accepts[0]=='target'&&ctv.command.accepts[1]=='value')">
                                {{ctv.value}}
                            </div>
                        </li>
                        <li class="drag-placeholder"> </li>
                    </ul>
                </ng-container>
            </li>
        </ul>
    </div>
    <div class="add-page"><a>Add Page</a>+</div>
</div>
<!-- <app-toolbar-footer></app-toolbar-footer> -->