<div class="home-page-wrapper">
    
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center"><img src="../../../assets/images/ATAName.png" alt="ATA" class="logo-image">
                </div>
            </div>
            </div>
            <div class="container1">
                <div class=" center">
                    <input placeholder="Enter URL here" [(ngModel)]="url"/>
                    <button class="log-btn" (click)="openRecorder()">Open</button>
                </div>
            </div>
    </div>
</div>
